<!DOCTYPE html>
<html>
	<head>
		<title>PhotoMagik</title>
		<link rel="stylesheet" type="type/css" href="stylesheets/style.css" media="screen"/>
		<script data-main="javascripts/main" src="javascripts/lib/require.js"></script>	
	</head>
	<body></body>
</html>